body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-image: url(img/Amixfinder\ fondo2.jpg);
    background-repeat: repeat;
    padding: 30px ; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
}

#imageInput {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 2.3px solid #e892bd;
    border-radius: 30px;
    font-size: 17px;
    color: #ffff;
    padding: 10px 20px 10px 10px;
}

.fondo {
    background-color:rgb(255, 255, 255);
    padding: 30px 25px;
    border-radius: 15px;
}

/* BOTON */
.btn {
    padding: 10px 20px;
    background-color: #e46592;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #eca6e7;
}

.input-group-text {
    color: #e47db9;
}
/* TITULO */

.heading_editar {
    text-align: center;
    font-size: 30px;
    color: #d14a8b;
    margin: 10px;
    margin-bottom: 20px
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.container ::placeholder {
    font-style: none;
    color: #b32458;
}

/* IMG DE PERFIL */
#desktopContainer {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-color: rgb(243, 178, 240);
    background-position: center;
    border: 2px solid #333;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
}


#desktopImage {
    max-width: 100%;
    height: auto;
    object-fit:contain;
}

.custom-input {
    border: 2px solid #c752bd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #797575;
    font-size: 16px;
}

.custom-button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    background-color: #d871d3;
    font-weight: bold;
}

.custom-button:hover {
    background-color: #e782ce;
}