
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}


.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-image: url(https://th.bing.com/th/id/R.0cec901271acc494eb81cde2350b0a19?rik=t45dk3BGIVPIeQ&pid=ImgRaw&r=0);
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
}