body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-image: url(https://th.bing.com/th/id/R.0cec901271acc494eb81cde2350b0a19?rik=t45dk3BGIVPIeQ&pid=ImgRaw&r=0);
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
}

h3 {
    font-size: 15px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}


.speech-bubble {
    background-color: #fdf9f8;
    color: rgb(90, 14, 14);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    font-size: 2 rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #f78fb3;
    color:#d906dc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.heart {
    color: #e74c3c;
}

.speech-bubble.selected {
    background-color: #f78fb3; 
}


/* BOTON */
.btn {
    padding: 10px 20px;
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #eca6e7;
}

h1 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
