body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-image: url(https://th.bing.com/th/id/R.0cec901271acc494eb81cde2350b0a19?rik=t45dk3BGIVPIeQ&pid=ImgRaw&r=0);
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
}

/* IMAGENES */
.d-block.w-100 {
    height: 450px;
    border-radius: 10px
    
}

/* TEXTO IMG */
.carousel-caption{
    backdrop-filter: blur(10px);
    position: absolute;
    right: 0%;
    left: 0%;
    padding-bottom: 0%;
}

/* BOTON */
.btn {
    padding: 10px 20px;
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #eca6e7;
}

.input-group-text {
    color: #eca6e7;
}

/* TITULO */
.heading_editar {
    text-align: center;
    font-size: 30px;
    color: #d906dc;
    margin: 10px;
    margin-bottom: 20px
}


h1 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
