body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: rgb(255, 250, 253);
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
}

/* IMAGENES */
.d-block.w-100 {
    height: 450px;
    padding: 5px;
    border-radius: 15px
    
}

/* TEXTO IMG */
.carousel-caption{
    position: absolute;
    right: 0%;
    left: 0%;
    padding-bottom: 0%;
}

/* BOTON */
.btn {
    padding: 15px 20px;
    width: 90px;
    height: 80px ;
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 29px ;
}

.btn:hover {
    background-color: #eca6e7;
}

.fa-solid {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.fa-solid:active {
    color: solid #d14a8b;
    transition-duration: 0.2s;

}

/* TITULO */
.heading_editar {
    text-align: center;
    font-size: 30px;
    color: #d14a8b;
    margin: 10px;
    margin-bottom: 20px
}


h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* ALERTA */
#custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #ff67eb;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* BOTONES ALERTA */
#custom-button {
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

#custom-cancel-button {
    background-color: #eca6e7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
