body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-image: url(img/Amixfinder\ fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
} 

.container input {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 2.3px solid #e892bd;
    border-radius: 30px;
    font-size: 17px;
    color: #ffff;
    padding: 10px 20px 10px 10px;
}

.fondo {
    background-color:rgb(255, 255, 255);
    padding: 30px 25px;
    border-radius: 15px;
}

/* BOTON */
.btn {
    padding: 10px 20px;
    background-color: #f78fb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #eca6e7;
}

.input-group-text {
    color: #e47db9;
}

/* TITULO */
.heading_perfil {
    text-align: center;
    font-size: 30px;
    color: #d14a8b;
    margin: 10px;
    margin-bottom: 20px
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.container ::placeholder {
    font-style: none;
    color: #b32458;
}